.project
*.prefs
.classpath
.springBeans
.settings
target/
tmp
.idea/
*.iml
*.ipr
*.iws
project/
.gradle/
out/
.metadata
classes/
atlassian-ide-plugin.xml
.sonar/
sonar-project.*
*~
rebel.xml
buildSrc/
db-migration/
bin/
build/
*/src/generated/
.DS_Store
node_modules/
